<div class="appointment">
    <div class="container">
        <div class="form-agileits">
            <h3>Make an appointment</h3>
            <p>Providing Total Health Care Solution</p>
            <form action="#" method="post">
                <input class="name" type="text" name="Patient Name" placeholder="Patient Name" required="" />
                <input type="text" name="Number" placeholder="Number" required="" />
                <input class="name" type="email" name="Email" placeholder="Email" required="" />
                <input id="datepicker1" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" placeholder="mm/dd/yyyy" required="">
                <select class="form-control name" placeholder="department">
			<option>Department</option>
			<option>Cardiology</option>
			<option>Ophthalmology</option>
			<option>Neurology</option>
			<option>Psychology</option>
			<option>Dermatology</option>
		</select>
                <select class="form-control">
			<option>Gender</option>
			<option>Male</option>
			<option>Female</option>
		</select>
                <input type="submit" value="Make an appointment">
            </form>
        </div>


        <div class="clearfix"> </div>
    </div>
</div>