<div class="options-wthree">
    <div class="container">
        <ul>
            <li>
                <a href="./appointment" class="opt-grids">
                    <div class="icon-agileits">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <div class="opt-text">
                        <h6>Appointments</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="./doctors" class="opt-grids">
                    <div class="icon-agileits">
                        <i class="fa fa-stethoscope" aria-hidden="true"></i>
                    </div>
                    <div class="opt-text">
                        <h6>Doctors</h6>
                    </div>
                </a>
            </li>
            <li>
                <a href="./notifications" class="opt-grids">
                    <div class="icon-agileits">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                    </div>
                    <div class="opt-text">
                        <h6>Notifications</h6>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>